.idea
.gradle
build
.sdkmanrc
Java/**/bin
Java/**/test-output
Java/**/target
Java/**/*.json
DotNet/**/bin
DotNet/**/.vs
DotNet/**/*.json
Js/**/node_modules

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
package-lock.json

# Build results
DotNet/**/[Dd]ebug/
DotNet/**/[Dd]ebugPublic/
DotNet/**/[Rr]elease/
DotNet/**/[Rr]eleases/
DotNet/**/x64/
DotNet/**/x86/
DotNet/**/[Ww][Ii][Nn]32/
DotNet/**/[Aa][Rr][Mm]/
DotNet/**/[Aa][Rr][Mm]64/
DotNet/**/bld/
DotNet/**/[Bb]in/
DotNet/**/[Oo]bj/
DotNet/**/[Ll]og/
DotNet/**/[Ll]ogs/